.container-fluid {
  padding-left: 0;
}

#main-details {
  margin-top: 24px;
}

ul {
  li:hover {
    cursor: pointer;
  }

  li:first-child {
    border-top-right-radius: 0;
  }
}

#coin-image {
  float: right;
}